// borders
$b-form-input:      3px;
$b-separator:       1px;
// colors
$c-grey-l:          #f1f2f3;
$c-grey-d:          #dddddd;
$c-green-l:         #94e289;
$c-green-d:         #86ae5e;
$c-red-d:           #dd3333;
$c-text-body:       #525252;
$c-text-heading:    #000000;
$c-black:           #000000;
$c-white:           #ffffff;
// border radii
$r-all:             4px;
// font sizes
$s-text-extra:      10pt;
$s-text-body:       12pt;
$s-text-heading-1:  18pt;
// width
$w-content:         600px;
$w-container-full:  800px;
